In [2]:
import pandas as pd
import numpy as np
import datetime

In [3]:
df = pd.read_csv('HireArt - Data Analyst Exercise 10.12.17 - Sheet1.csv')

In [13]:
df['Date of Contact']=pd.to_datetime(df['Date of Contact'])

In [17]:
df=df.sort_values('Date of Contact')

In [32]:
df['Year']=df['Date of Contact'].apply(lambda x:x.date().timetuple()[0]).astype(str)

In [33]:
df['Month']=df['Date of Contact'].apply(lambda x:x.date().timetuple()[1]).astype(str)

In [34]:
df['Year&Month']=df['Year']+df['Month']

In [65]:
df.head()

,Account manager,Client Name,Date of Contact,Year,Month,Year&Month
635,Rigoberto White,"Medhurst, Ankunding and Wolff",2013-10-03,2013,10,201310
500,Rigoberto White,"Fahey, Wunsch and Bashirian",2013-10-04,2013,10,201310
433,Chauncey Dach,Donnelly-Champlin,2013-10-04,2013,10,201310
448,Milan Crona,"Orn, Russel and O'Reilly",2013-10-04,2013,10,201310
37,Chauncey Dach,Koss Inc,2013-10-05,2013,10,201310

Total Number of Unique Client Name

In [58]:
total=len(df['Client Name'].unique())
total

35

In [55]:
comp = pd.DataFrame(columns = ['Year&Month','Count'])
for i in df['Year&Month'].unique():
    temp=pd.DataFrame([i,len(df[df['Year&Month']==i]['Client Name'].unique())]).transpose()
    temp.columns=comp.columns
    comp=pd.concat([comp,temp])

In [59]:
comp['Percentage']=comp['Count']/total

In [63]:
comp=comp.sort_values('Percentage',ascending=False)

In [66]:
comp.head(10)

  Year&Month Count Percentage
0     201310    31   0.885714
0     201410    28        0.8
0     201510    28        0.8
0     201610    25   0.714286
0      20149    23   0.657143
0      20179    21        0.6
0      20146    19   0.542857
0      20169    19   0.542857
0      20159    18   0.514286
0     201612    17   0.485714